
.home-container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI';
  
  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    background: rgb(67, 61, 158);
    width: 100%;
    color: white;
    padding-bottom: 1%;
  }

  .room-selection {
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    max-width: 500px;


    .room-selection-text {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .room-name-input {
      .MuiTextField-root {
        text-align: center;
      }
    }
    .enter-room-button {
      text-decoration: none;
      margin: 1rem;
    }
  }
}
.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .app-header {
    justify-content: space-between;
    background: rgb(67, 61, 158);
    .header-home {
      font-family: 'Segoe UI';
      font-size: larger;
      font-weight: bold;
      color: white;
      text-decoration: none;
    }

    .header-username {
      font-family: 'Roboto';
    }
  }

  .room-container {
    display: flex;
    .video-container {
      width: 75%;
      padding: 1rem;
      height: 90vh;
      .video-wrapper {
        background: black;
      }

      .video-seek-slider {
        color: teal;
        height: 5;

        MuiSlider-thumb: {
          height: 24;
          width: 24;
          background-color: white;
        }
      }

      .common-toolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
        .volume-slider {
          width: 20%;
        }
      }
    }
    .user-control {
      width: 25%;
      padding: 1rem;
      font-family: 'Segoe UI';
      height: 90vh;
      .user-control-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .user-control-content{
          height: 100%;
          .react-swipeable-view-container {
            height: 100%;
            .add-new-video {
              width: inherit;
              padding: 0;
              .new-video-url {
                width: 100%;
                padding: .5rem;
                border: none;
                border-bottom: 2px solid lightsteelblue;

                &:focus {
                  outline: none;
                }
              }
            }
            .playlist-container {
              height: 100%;
              display: flex;
              flex-direction: column;
              .now-playing {
                font-family: 'Roboto';
                font-size: .9rem;
                .currentURl {
                  color: slategray;
                  padding: 1rem;
                }
              }
            }

            .chat-container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              overflow-x: hidden;
              .MuiBox-root {
                height: 100%;
                .chat-message-list {
                  height: 90%;
                  .message-item {
                    .message {
                      padding: 0 1rem;
                    }
                  }
                }
                .chat-user-input {
                  height: 10%;
                  width: inherit;
                  display: flex;
                  justify-content: space-between;
                  .username-input {
                    width:100%;
                  }
                }  
              }
            }

            .userlist-container {
              .username-setting {
                display: flex;
                align-items: center;

                svg {
                  color: lightblue;
                }
                .username-input {
                  border: solid 2px lightgrey;
                  border-radius: 1rem;
                  width: 100%;
                  padding: 0 1rem;
                }
              }
            }
          }
        }
        
      }
    }
  }

  footer {
    padding-top: 1rem;
  }
}



@media (max-width: 640px) {
  .room-container {
    display: flex;
  .video-container {
    width: 100%;
  }
  .user-control {
    width: 100%;
  }
}
}