
.home-container {
  text-align: center;
  height: 100%;

  .room-selection {
    display: flex;
    flex-direction: column;
    padding: 5rem;
  }
}
.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .app-header {
    justify-content: space-between;
  }

  .room-container {
    display: flex;
    .video-container {
      width: 70%;
      padding: 1rem;
      .video-wrapper {
        background: black;
      }

      .video-seek-slider {
        color: teal;
        height: 5;

        MuiSlider-thumb: {
          height: 24;
          width: 24;
          background-color: white;
        }
      }

      .common-toolbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 0;
        .volume-slider {
          width: 20%;
        }
      }
    }
    .user-control {
      width: 30%;
      padding: 1rem;
      .user-control-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .user-control-content{
          height: 100%;
          .add-new-video {
            width: inherit;
            padding: 0;
            .new-video-url {
              width: 100%;
              padding: .5rem;
              border-radius: .5rem;

              &:focus {
                outline: none;
              }
            }
          }
          .playlist-container {
            height: 100%;
            display: flex;
            flex-direction: column;
          }

          .chat-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chat-message-list {

            }
            .chat-user-input {
              width: 100%;
            }
          }
        }
        
      }
    }
  }

  footer {
    padding-top: 1rem;
  }
}



@media (max-width: 640px) {
  .room-container {
    display: flex;
  .video-container {
    width: 100%;
  }
  .user-control {
    width: 100%;
  }
}
}